{% extends 'base.html.twig' %}

{% block title %}Modifier une voiture{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Modifier une voiture</h1>

        {{ form_start(editCar, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

        {% for field in editCar %}
            <div class="mb-3">
                {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
            </div>
        {% endfor %}

        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-lg mt-3" type="submit">
                <i class="fas fa-save"></i> Enregistrer
            </button>
        </div>

        {{ form_end(editCar) }}
        
        <div class="d-grid gap-2 mt-3">
            <a href="{{ path('app_profile') }}" class="btn btn-secondary btn-lg">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
        </div>
    </div>
{% endblock %}
