<div class="headerContainer">
    <div class="leftSide">
      <img
        class="logoImg"
        src="{{ asset('images/blabla.svg') }}"
        alt="Logo"
      />
    </div>
    <div class="midSide">
      <div class="midSideContent">
        <a class="link" href="{{ path('home_page') }}">Accueil</a>
        <a class="link" href="{{ path('carList_page') }}"
          >Liste des annonces</a>          
          <a class="link" href="{{ path('home_page') }}">Mes trajets</a>

      </div>
    </div>
    <div class="rightSide">
      <div class="rightSideContent">
        <div class="d-flex">
            <a href="{{ path('home_page') }}" class="btn btn-orange mr-3">Se connecter</a>
            <a href="{{ path('home_page') }}" class="btn btn-white">S'inscrire</a>
        </div>
          
      </div>
    </div>
  </div>